.table-form {
    display: flex;
}

.actions-center {
    margin: auto 0 auto auto;
}

.actions-bottom {
    margin: auto 0 0 auto;
}

    .actions-center svg, .actions-bottom svg {
        cursor: pointer;
        font-size: 1.75em;
    }

.fa-icon:hover {
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    color: #1565c0;
}

.trc-form {
    width: 94%;
}

.trc-section {
    margin-top: 1rem;
    width: 100%;
    text-align: left;
}