div.profile h1 {
    margin-top: 2rem;
}

div.profile form {
    width: 300px;
    margin-top: 2rem;
}

div.profile button {
    width: 100%;
}

div.profile span {
    color: red;
    font-size: 12px;
}