.profile {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
    display: -ms-flexbox; /* TWEENER - IE 10 */
    display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
    display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waffle {
    width: 200px;
}

h1 {
    margin-top: 2rem;
}

form {
    width: 80%;
    margin-top: 2rem;
}

button {
    width: 100%;
}

span {
    color: red;
    font-size: 12px;
}