.home {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
}

.page {
    display: flex;
}

.content {
    padding: 0 1rem 1rem 1rem;
    margin-left: 0;
    height: calc(100vh - 84px);
    overflow-y: auto;
}