button:focus {
    outline: none;
}

.control {
    width: 100%;
    float: right;
    display: flex;
    justify-content: space-between;
}

.trade-rule-condition {
    width: 92%;
    float: right;
}

.import-trade-rule {
    cursor: pointer;
}